
@import 'variables';
@import 'mixins';
@import 'heritage';
@import 'operations';
@import 'fonts';


body {
	font-family: $fontBase, sans-serif;
	font-size: 14px;
	font-weight: 400;
}


img {
	max-width: 100%;
}


a,
button,
select,
input,
textarea {
	outline: 0 !important;
}



a {
	display: block;
	color: inherit;

	&:hover,
	&:focus {
		text-decoration: none;
		color: inherit;
	}
}



button {
	padding: 0;
	border: 0;
	cursor: pointer;
	background-color: transparent;
	color: inherit;
}



ul {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

li {
	text-align: inherit;
}


h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}


strong,
b {
	font-weight: 700;
}









/* Custom Classes
=================================================================*/
.ap-n {
	appearance: none;
}

.us-n {
	user-select: none;
}

.fx-c {
	display: flex;
	justify-content: center;
	align-items: center;
}

.h-100 {
	height: 100%;
}

.ov-h {
	overflow: hidden !important;
}

.bg-cover {
	background: center no-repeat;
	background-size: cover;
}

.bg-contain {
	background: center no-repeat;
	background-size: contain;
}
/*========== Custom Classes ==========*/







/* Internet Explorer
=================================================================*/
.ie_bx {
	width: 100%;
	padding-top: 100px;
	position: fixed;
	z-index: 10010;
	text-align: center;

	h2 {

		& + & {
			margin-top: 20px;
		}

		a {
			text-decoration: underline;
		}
	}
}
.ie_bg {
	@include Position(f, 0, 0, 0, 0);
	z-index: 10000;
	background-color: rgba(#fff, 0.88);
}
/*========== Internet Explorer ==========*/







/* Base Elements
=================================================================*/
@at-root .base_btn {
	display: block;
	padding: 12px 30px;
	border: 1px solid transparent;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	transition: all .3s;
	background: #ddd;

	&.border_red {
		border-color: $colorAlert;
		@include ButtonReverse($colorAlert, #fff);
	}


	&.border_green {
		border-color: $colorBase;
		@include ButtonReverse($colorBase, #fff);
	}


	&.border_white {
		border-color: #fff;
		background: #fff;
		color: $colorAlert;

		&:hover {
			background-color: transparent;
			color: #fff;
		}
	}
}


@at-root .base_title_sm {
	margin-bottom: 30px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
}


@at-root .base_title_lg {
	font-size: 44px;
	font-weight: 300;
}


@at-root .title_line_bx {
	margin: 15px 0 20px;

	@at-root .title_line {
		width: 70px;
		height: 4px;
		background: $colorBase;
	}
}
/*========== Base Elements ==========*/




















/* Header
*****************************************************************************************************/
@at-root .header {
	height: 180px;

	@at-root .hdr_fixed {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		z-index: 100;
		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
		background: #fff;


		/* Header Top
		=================================================================*/
		@at-root .hdr_top_bx {

			@at-root .hdr_top {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 20px 0;

				@at-root .hdr_top_left {
					display: flex;
					align-items: center;

					@at-root .hdr_logo {
						margin-right: 30px;

						a {

							img {
								display: block;
								width: 130px;
							}
						}
					}


					@at-root .hdr_capt {
						font-size: 16px;
						font-weight: 500;
					}
				}


				@at-root .hdr_top_right {
					display: flex;
					align-items: center;

					@at-root .hdr_ctt {
						margin-right: 30px;
						text-align: right;

						@at-root .hdr_ctt_tel {
							margin-bottom: 5px;

							a {
								display: inline-block;
								vertical-align: middle;
								text-decoration: none;
								font-size: 20px;
							}
						}


						@at-root .hdr_ctt_email {

							a {
								display: inline-block;
								vertical-align: middle;
								text-decoration: underline;
								color: $colorAlert;
							}
						}
					}


					@at-root .hdr_ctt_btn {

						.base_btn {

						}
					}
				}
			}
		}
		/*========== Header Top ==========*/



		/* Header Navigation
		=================================================================*/
		@at-root .nav_sec {
			background: $colorBase;
			color: #fff;

			@at-root .nav_bx {
				display: flex;
				align-items: center;

				@at-root .nav_menu {
					flex: 1 1 auto;
					margin-right: 50px;

					@at-root .nav_menu_ls {
						display: flex;

						> li {
							flex: 1 1 auto;
							position: relative;

							&::before {
								content: '';
								display: block;
								height: 30px;
								width: 1px;
								@include Position(a, 0, 0, 0, null, true);
								background: #0d896c;
							}


							a {
								padding: 25px 5px;
								text-align: center;
								text-transform: uppercase;
								font-size: 13px;
							}


							&.active a,
							a:hover {
								background: #0d896c;
								color: #4de6a0;
							}
						}
					}
				}


				@at-root .nav_menu_btn {
					display: none;
					flex-direction: column;
					width: 40px;
					height: 40px;
					border: 1px solid #fff;
					border-radius: 4px;
					@include Position(f, 15px, 15px);
					z-index: 100;
					cursor: pointer;
					box-shadow: 0 0 7px #888;
					transition: all 0.5s ease;
					background: $colorBase;

					> .line {
						display: block;
						width: 6px;
						height: 6px;
						border-radius: 50%;
						position: relative;
						transition: all .3s ease .5s;
						background: #fff;

						&:nth-of-type(1) {
							top: 3px;
							left: 0;
						}

						&:nth-of-type(2) {
							top: -3px;
							right: 0;
						}

						&:nth-of-type(3) {

						}

						&:nth-of-type(4) {
							bottom: -3px;
							left: 0;
						}

						&:nth-of-type(5) {
							bottom: 3px;
							right: 0;
						}
					}

					&.active {
						right: 265px;

						> .line {

							&:nth-of-type(1) {
								left: -9px;
							}

							&:nth-of-type(2) {
								right: -9px;
							}

							&:nth-of-type(3) {

							}

							&:nth-of-type(4) {
								left: -9px;
							}

							&:nth-of-type(5) {
								right: -9px;
							}
						}
					}
				}


				@at-root .nav_menu_bg {
					@include Position(f, 0, 0, 0, 0);
					opacity: 0;
					visibility: hidden;
					background: rgba(#000, .5);
					z-index: 95;

					&.active {
						opacity: 1;
						visibility: visible;
					}
				}


				@at-root .nav_scl {
					flex: 0 0 auto;
					display: flex;
					align-items: center;
					font-size: 13px;

					@at-root .nav_scl_txt {
						margin-right: 10px;
						text-transform: uppercase;
					}


					@at-root .nav_scl_ls {
						display: flex;

						> li {

							& + li {
								margin-left: 10px;
							}


							a {
								display: block;
								width: 28px;
								height: 28px;
								line-height: 28px;
								border: 1px solid #2dbf8a;
								border-radius: 50%;
								text-align: center;

								&:hover {
									background:#2dbf8a;
								}
							}
						}
					}
				}
			}
		}
		/*========== Header Navigation ==========*/
	}
}
/*********** Header ***********/















/* Main
*****************************************************************************************************/
@at-root .main {

	/* Banner
	=================================================================*/
	@at-root .banner_sec {

		@at-root .banner_bx {
			position: relative;

			@at-root .banner {

				@at-root .banner_it {
					position: relative;

					@at-root .banner_img {
						width: 100%;
						height: 790px;
						object-fit: cover;
					}


					@at-root .banner_capt_bx {
						display: flex;
						align-items: center;
						@include Position(a, 0, 0, 0, 0);
						z-index: 2;

						@at-root .banner_capt {
							width: 550px;
							padding: 25px;
							background-color: rgba($colorAlert, 0.85);
							color: #fff !important;

							@at-root .banner_capt_ttl {
								margin-bottom: 30px;
								font-size: 64px;
								font-weight: 300;
								line-height: 0.9;
							}


							@at-root .banner_capt_cnt {

							}
						}
					}
				}
			}


			@at-root .banner_nav {

				@at-root .banner_btn {
					width: 50px;
					height: 50px;
					@include Position(a, 0, null, 0, null, true);
					z-index: 10;
					cursor: pointer;
					font-size: 40px;
					transition: all .3s;
					text-shadow: 0 0 7px rgba(0, 0, 0, 0.55);
					color: #fff;

					&:hover {
						color: $colorAlert;
					}


					i {

					}


					&.prev {
						left: 0;
					}


					&.next {
						right: 0;
					}
				}
			}


			@at-root .banner_mouse {
				width: 48px;
				@include Position(a, null, 0, 20px, 0, true);
				z-index: 5;

				img {
					display: block;
				}
			}
		}
	}
	/*========== Banner ==========*/




	/* Advantage
	=================================================================*/
	@at-root .advantage_sec {

		@at-root .advantage {
			color: #fff;

			@at-root .advantage_ttl_bx {
				padding: 80px 0;

				@at-root .advantage_ttl {

					.base_title_sm {
						color: #2dbf8a;
					}


					.base_title_lg {

					}
				}
			}


			@at-root .advantage_cnt_bx {
				border-top: 1px solid #2dbf8a;

				@at-root .advantage_cnt {

					@at-root .advantage_row {

						@at-root .advantage_it {
							display: flex;
							align-items: flex-start;
							padding: 50px 20px;

							& + & {
								border-left: 1px solid #2dbf8a;
							}


							@at-root .advantage_img {
								flex: 0 0 auto;
								margin-right: 20px;
								position: relative;

								&::before {
									content: '';
									display: block;
									width: 50px;
									height: 50px;
									border-radius: 50%;
									@include Position(a, null, 0, -13px, 0, true);
									z-index: 2;
									filter: blur(30px);
									background: #34e2a3;
								}


								img {

								}
							}


							@at-root .advantage_txt {
								flex: 1 1 auto;

								@at-root .advantage_name {
									text-transform: uppercase;
									font-size: 16px;
									margin-bottom: 15px;
								}


								@at-root .advantage_info {
									color: #95d8c8;
								}
							}
						}
					}
				}
			}
		}
	}
	/*========== Advantage ==========*/




	/* Tourism
	=================================================================*/
	@at-root .tourism_sec {
		position: relative;

		@at-root .tourism_bg {
			@include Position(a, 0, 0, 0, 0);

			&::before {
				content: '';
				display: block;
				width: 30%;
				height: 100%;
				@include Position(a, 0, null, null, 0);
				transform: skewX(-45deg);
				transform-origin: top left;
				background: #2dbf8a;
			}


			img {
				display: block;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}


		@at-root .tourism_bx {
			padding: 80px 0;
			position: relative;
			z-index: 3;
			color: #fff;

			&::before {
				content: '';
				display: block;
				height: 100%;
				width: 90%;
				@include Position(a, 0, null, null, 0);
				transform: skewX(-45deg);
				transform-origin: top left;
				background: rgba($colorBase, 0.95);
			}


			@at-root .tourism {
				width: 50%;
				position: relative;
				z-index: 3;

				@at-root .tourism_hd {
					margin-bottom: 50px;

					.base_title_sm {

					}


					.base_title_lg {

					}
				}


				@at-root .tourism_bd {
					margin-bottom: 30px;

					p {

						& + p {
							margin-top: 20px;
						}
					}
				}


				@at-root .tourism_ft {
					display: flex;

					.base_btn {

						.txt {

						}


						i {
							margin-left: 7px;
							font-size: 13px;
						}
					}
				}
			}
		}
	}
	/*========== Tourism ==========*/




	/* Interest
	=================================================================*/
	@at-root .interest_sec {
		padding-top: 80px;
		margin-bottom: 80px;
		position: relative;

		@at-root .interest_bg {
			width: 20%;
			@include Position(a, 50px, 0);
		}


		@at-root .interest {

			@at-root .interest_ttl {
				margin-bottom: 60px;
			}


			@at-root .interest_cnt {
				position: relative;
				padding-left: 15%;
				column-count: 2;
				font-weight: 300;

				&::before {
					content: '';
					display: block;
					width: 70px;
					height: 4px;
					@include Position(a, 0, null, null, 0);
					background: $colorBase;
				}


				p {
					margin-bottom: 20px;
				}


				@at-root .interest_more {
					display: flex;

					a {
						font-size: 16px;
						color: $colorAlert;

						.txt {

						}


						i {
							margin-left: 7px;
							font-size: 13px;
						}
					}
				}
			}
		}


		@at-root .interest_pano {
			margin-top: 30px;

			img {
				width: 100%;
				height: 200px;
				object-fit: cover;
			}
		}
	}
	/*========== Interest ==========*/




	/* Comment
	=================================================================*/
	@at-root .comment_sec {
		margin-bottom: 70px;

		@at-root .comment {

			@at-root .comment_ttl {
				margin-bottom: 50px;

				.base_title_lg {

				}
			}


			@at-root .comment_cnt {
				position: relative;

				@at-root .comment_bnr {
					padding: 0 30px;

					@at-root .comment_it {
						padding: 10px;

						@at-root .comment_vdo_bx {
							margin-bottom: 10px;
							padding: 30px 20px 40px 25px;
							position: relative;
							background-size: 100% 100%;

							@at-root .comment_vdo {
								overflow: hidden;

								.val {
									display: block;
									width: 100%;
									height: 200px;
									object-fit: cover;
								}
							}


							@at-root .comment_vdo_i {
								display: none;
								justify-content: center;
								align-items: center;
								@include Position(a, 0, 0, 0, 0);

								img {

								}


								&.active {
									display: flex;
								}
							}
						}


						@at-root .comment_man_bx {
							display: flex;
							justify-content: center;

							@at-root .comment_man {
								text-align: center;

								@at-root .comment_man_img {
									margin-bottom: 15px;

									img {
										display: block;
										width: 80px;
										height: 80px;
										object-fit: cover;
										margin: auto;
										border-radius: 50%;
									}
								}


								@at-root .comment_man_name {
									font-size: 16px;
								}


								@at-root .comment_man_pos {
									font-weight: 300;
									color: $colorBase;
								}
							}
						}
					}
				}


				@at-root .comment_bnr_nav {

					@at-root .comment_bnr_btn {
						width: 30px;
						height: 50px;
						@include Position(a, 0, null, 0, null, true);
						z-index: 10;
						cursor: pointer;
						font-size: 50px;
						transition: all .3s;
						color: #e9e9e9;

						&:hover {
							color: $colorAlert;
						}


						i {

						}


						&.prev {
							left: 0;
						}


						&.next {
							right: 0;
						}
					}
				}
			}
		}
	}
	/*========== Comment ==========*/




	/* Comment Leave
	=================================================================*/
	@at-root .cmt_leave_sec {
		padding: 80px 0;
		border-top: 1px solid #e9e9e9;

		@at-root .cmt_leave {

			@at-root .cmt_leave_ttl {
				margin-bottom: 60px;

				.base_title_lg {
					line-height: .9;
				}
			}


			@at-root .cmt_leave_cnt {
				position: relative;
				padding-left: 15%;

				&::before {
					content: '';
					display: block;
					width: 70px;
					height: 4px;
					@include Position(a, 0, null, null, 0);
					background: $colorBase;
				}


				@at-root .cmt_leave_fld {

					@at-root .cmt_leave_row {

						& + & {
							margin-top: 30px;
						}


						@at-root .cmt_leave_col {

							@at-root .cmt_leave_lbl {
								margin-bottom: 5px;
								font-size: 16px;
								font-weight: 300;
							}


							@at-root .cmt_leave_inp {
								display: block;
								width: 100%;
								height: 50px;
								padding: 0 15px;
								border: 1px solid #e9e9e9;
								font-size: 14px;
								color: inherit;

								&.txtarea {
									height: auto;
									padding: 15px;
								}
							}


							@at-root .cmt_leave_img {
								position: relative;

								@at-root .cmt_leave_img_inp {
									padding-right: 50px;
								}


								@at-root .cmt_leave_img_btn {
									width: 50px;
									margin-bottom: 0;
									@include Position(a, 0, 0, 0);
									cursor: pointer;
								}
							}


							@at-root .cmt_leave_vdo {
								display: flex;

								@at-root .cmt_leave_vdo_inp {
									flex: 1 1 auto;
								}


								@at-root .cmt_leave_vdo_btn {
									flex: 0 0 auto;
									margin-left: 10px;

									label {
										display: block;
										margin-bottom: 0;
										padding: 12px 20px;
										border: 1px solid $colorBase;
										border-radius: 4px;
										cursor: pointer;
										text-decoration: none;
										font-size: 16px;
										transition: all .3s;
										background: $colorBase;
										color: #fff;
									}
								}
							}


							@at-root .cmt_leave_btn {

							}


							@at-root .cmt_leave_capt {
								font-size: 12px;
								font-weight: 300;
								font-style: italic;
								color: #989898;
							}
						}
					}
				}
			}
		}
	}
	/*========== Comment Leave ==========*/




	/* Partner
	=================================================================*/
	@at-root .partner_sec {
		padding: 50px 0;
		background:#f1f1f1;

		@at-root .partner_bnr_bx {
			position: relative;

			@at-root .partner_bnr {
				padding: 0 30px;

				.owl-wrapper {
					display: flex !important;
					align-items: center;
				}


				@at-root .partner_bnr_it {
					padding: 15px;
					filter: grayscale(100%);
					text-align: center;
					transition: all .3s;

					&:hover {
						filter: grayscale(0%);
					}


					img {
						max-width: 150px;
					}
				}
			}


			@at-root .partner_bnr_nav {

				@at-root .partner_bnr_btn {
					width: 30px;
					height: 50px;
					@include Position(a, 0, null, 0, null, true);
					z-index: 10;
					cursor: pointer;
					font-size: 40px;
					transition: all .3s;
					color: #d9d9d9;

					&:hover {
						color: $colorAlert;
					}


					i {

					}


					&.prev {
						left: 0;
					}


					&.next {
						right: 0;
					}
				}
			}
		}
	}
	/*========== Partner ==========*/
}
/*********** Main ***********/















/* Footer
*****************************************************************************************************/
@at-root .footer {
	padding: 30px 0;
	background: #2a2e33;
	color: #fff;

	@at-root .foot_it_bx {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0 -15px;

		@at-root .foot_it {
			padding: 30px 15px;

			@at-root .foot_logo_bx {

				@at-root .foot_logo {
					margin-bottom: 20px;

					a {
						max-width: 140px;

						img {

						}
					}
				}


				@at-root .foot_logo_capt {
					font-size: 12px;
					font-weight: 300;
				}
			}


			@at-root .foot_contact {

				> li {
					padding-left: 25px;
					position: relative;
					font-size: 13px;
					font-weight: 300;

					& + li {
						margin-top: 20px;
					}


					i {
						position: absolute;
						top: 3px;
						left: 0;
						color: #2dbf8a;
					}


					.txt {

					}
				}
			}


			@at-root .foot_menu {

				> li {

					& + li {
						margin-top: 14px;
					}


					a {
						font-size: 13px;
						font-weight: 300;
					}
				}
			}


			@at-root .foot_scl_bx {

				@at-root .foot_scl {
					margin-bottom: 41px;

					@at-root .foot_scl_txt {
						margin-bottom: 10px;
						font-size: 13px;
						font-weight: 300;
					}


					@at-root .foot_scl_ls {
						display: flex;

						> li {

							& + li {
								margin-left: 10px;
							}


							a {
								display: block;
								width: 32px;
								height: 32px;
								line-height: 33px;
								border: 1px solid #2dbf8a;
								border-radius: 50%;
								text-align: center;

								&:hover {
									background:#2dbf8a;
								}


								i {

								}
							}
						}
					}
				}


				@at-root .foot_made {
					font-size: 12px;
					font-weight: 300;
					color: #2dbf8a;

					a {
						display: inline;
						text-decoration: underline;
						color: #fff;
					}
				}
			}
		}
	}
}
/*********** Footer ***********/









/* Out Layout
*****************************************************************************************************/

/* Anchor
=================================================================*/
@at-root .anchor {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 50;
	opacity: 0;
	transform: translateY(100px);
	transition: all .3s;
	@include ButtonDark($colorAlert);
	color: #fff;

	&.active {
		opacity: 1;
		transform: none;
	}


	i {
		font-size: 22px;
	}


	.txt {
		font-size: 10px;
	}
}
/*========== Anchor ==========*/






/* Modal Contact
=================================================================*/
@at-root .base_modal {

	.modal-dialog {
		max-width: 615px;
	}
	.modal-content {
		border: 0;
		border-radius: 0;
		background: none;
	}


	.form-group {
		margin-bottom: 0;

		label {
			font-weight: 300;
		}


		& + .form-group {
			margin-top: 20px;
		}
	}


	@at-root .base_modal_cnt {
		display: none;
		position: relative;
		background: #fff;

		&.active {
			display: block;
		}


		&.core {
			max-width: 420px;
			margin: auto;


			@at-root .base_modal_cls_bx {

				@at-root .base_modal_cls {
					display: block;
					height: 32px;
					width: 32px;
					padding: 0;
					border-radius: 50%;
					position: absolute;
					right: -16px;
					top: -16px;
					background: $colorBase;
					color: #fff;

					i {

					}
				}
			}


			@at-root .base_modal_hd {
				padding: 30px;

				@at-root .base_modal_ttl {
					font-size: 30px;
					font-weight: 300;

					&.thank {
						margin-bottom: 20px;
						text-align: center;
					}
				}


				@at-root .base_modal_ttl_line {

				}


				@at-root .base_modal_ttl_capt {
					font-weight: 300;
					color: #989898;
				}
			}


			@at-root .base_modal_bd {
				padding: 0 30px;


				@at-root .mdl_select {
					position: relative;

					select {
						padding-right: 25px;
						position: relative;
						z-index: 2;
						appearance: none;
						background: transparent;
					}


					i {
						height: 14px;
						position: absolute;
						right: 15px;
						top: 0;
						bottom: 0;
						margin: auto;
						color: #8e96a0;
					}
				}
			}


			@at-root .base_modal_ft {
				padding: 30px;

				@at-root .base_modal_btn {
					width: 100%;
					text-align: center;

					&.thank {
						max-width: 360px;
						margin: auto;
					}
				}


				@at-root .base_modal_terms {
					margin-top: 20px;
					font-size: 12px;
					font-weight: 300;
					color: #989898;
				}
			}
		}


		&.thank {

			@at-root .base_modal_thk_txt {
				padding: 30px;

				@at-root .base_modal_thk_info {
					margin-bottom: 30px;
					text-align: center;
					font-weight: 300;
					color: #989898;
				}


				@at-root .base_modal_thk_btn {

				}
			}


			@at-root .base_modal_thk_img {

			}
		}
	}
}
/*========== Modal Contact ==========*/


/*********** Out Layout ***********/












/* Contact
*****************************************************************************************************/
@at-root .wallpaper {
	margin-bottom: 100px;
	position: relative;

	@at-root .wallpaper_img {
		width: 100%;
		height: 300px;
		object-fit: cover;
	}


	@at-root .wallpaper_capt {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
		color: #fff;

		@at-root .wallpaper_ttl {
			font-size: 36px;
			font-weight: 300;
			text-shadow: 2px 2px 10px #000;
		}


		@at-root .wallpaper_bread {
			display: flex;

			> li {
				font-size: 11px;
				font-weight: 300;
				text-shadow: 2px 2px 10px #000;


				& + li {

					&::before {
						content: '/';
						margin: 0 5px;
					}
				}


				a {
					text-decoration: underline;
				}
			}
		}
	}
}




@at-root .contact_sec {
	margin-bottom: 100px;
	font-size: 16px;
	font-weight: 300;

	@at-root .contact {

		@at-root .contact_ttl {
			margin-bottom: 30px;

			@at-root .contact_ttl_sm {
				color: #989898;
			}


			@at-root .contact_ttl_lg {

			}


			@at-root .contact_ttl_line {

			}
		}


		@at-root .contact_cnt {

			@at-root .contact_info_bx {

				@at-root .contact_info {
					margin-bottom: 50px;

					@at-root .contact_info_txt {
						margin-bottom: 50px;
						color: #989898;
					}


					@at-root .contact_info_ls {

						> li {
							display: flex;

							& + li {
								margin-top: 20px;
							}


							.txt {
								flex: 0 0 auto;
								width: 100px;
								color: #989898;
							}


							.val {

								&.info {
									word-break: break-all;
									color: $colorBase;
								}
							}
						}
					}
				}


				@at-root .contact_scl {

					@at-root .contact_scl_ttl {
						margin-bottom: 10px;
					}


					@at-root .contact_scl_ls {
						display: flex;
						flex-wrap: wrap;

						> li {
							margin-right: 10px;
							margin-bottom: 10px;

							a {

								i {
									display: block;
									width: 42px;
									height: 42px;
									line-height: 42px;
									border-radius: 5px;
									text-align: center;
									color: #fff;
								}
							}
						}
					}
				}
			}


			@at-root .contact_form {

				.form-group {
					margin-bottom: 20px;
				}


				@at-root .contact_form_btn {
					margin-bottom: 30px;

					.base_btn {

					}
				}


				@at-root .contact_form_capt {

					.cmt_leave_capt {

					}
				}
			}
		}
	}
}



@at-root .contact_map {

	@at-root .contact_map_img {
		width: 100%;
	}
}
/*********** Contact ***********/












/* About
*****************************************************************************************************/
@at-root .about_int_sec {
	margin-bottom: 100px;

	.interest_ttl {

		.base_title_sm {
			color: #989898;
		}
	}
}



@at-root .about_stat_sec {
	margin-bottom: 100px;
	text-shadow: 2px 2px 4px #fff;
	font-weight: 300;
	background: center / cover no-repeat;

	@at-root .about_stat {
		padding: 100px 0;

		@at-root .about_stat_ttl {
			margin-bottom: 20px;
		}


		@at-root .about_stat_cnt {

			@at-root .about_stat_ls {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				max-width: 680px;
				margin: 0 -10px;

				> li {
					text-align: center;
					padding: 10px;

					.val {
						font-size: 48px;
					}


					.txt {

					}
				}
			}
		}
	}
}




@at-root .about_miss_sec {
	margin-bottom: 100px;
	font-weight: 300;

	@at-root .about_miss {

		@at-root .about_miss_name {
			line-height: 1.1;
			font-size: 34px;
			color: $colorBase;
		}


		@at-root .about_miss_txt {

		}
	}
}




@at-root .about_part_sec {
	border-top: 1px solid #e9e9e9;
	background: transparent;
}
/*********** About ***********/











/* Tourism
*****************************************************************************************************/

/* Direction
=================================================================*/
@at-root .tour_di_sec {
	margin-bottom: 100px;

	@at-root .tour_di {

		@at-root .tour_di_ttl {

			.title_line_bx {
				margin-top: 30px;
				margin-bottom: 0;
			}
		}


		@at-root .tour_di_cnt {

			@at-root .tour_di_row {
				margin: -15px;

				@at-root .tour_di_col {
					padding: 15px;

					@at-root .tour_di_it {
						position: relative;

						@at-root .tour_di_img {
							width: 100%;
							height: 300px;
							object-fit: cover;
						}


						@at-root .tour_di_capt_bx {
							@include Position(a, 0, 0, 0, 0);

							@at-root .tour_di_capt {
								display: flex;
								align-items: center;
								width: 50%;
								height: 100%;
								padding: 15px;
								position: relative;
								overflow: hidden;

								&::before {
									content: '';
									@include Position(a, 0, 0, 0, 0);
									z-index: 1;
									background: rgba(#fff, .7);
								}


								@at-root .tour_di_capt_img {
									display: block;
									width: 200%;
									height: 100%;
									max-width: none;
									object-fit: cover;
									position: absolute;
									top: 0;
									left: 0;
									filter: blur(10px);
								}


								@at-root .tour_di_body {
									position: relative;
									z-index: 2;

									@at-root .tour_di_name {
										text-transform: uppercase;
										font-size: 18px;
										font-weight: 500;
									}


									@at-root .tour_di_txt {
										margin: 10px 0 15px;
										font-size: 13px;
										font-weight: 300;
										color: #989898;
									}


									@at-root .tour_di_show {


										@at-root .tour_di_show_btn {
											padding: 7px 18px;
											text-transform: uppercase;
											font-size: 12px;
											transition: all .3s;
											background: $colorBase;
											color: #fff !important;

											&:hover {
												background: $colorAlert;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
/*========== Direction ==========*/




/* Place
=================================================================*/
@at-root .tour_place_sec {
	height: 1px;
	margin-bottom: 100px;
	overflow: hidden;

	&.active {
		height: auto;
	}


	@at-root .tour_place_bx {
		padding: 70px 0;
		font-weight: 300;
		background: #f1f1f1;

		@at-root .tour_place {

			@at-root .tour_place_hd {
				margin-bottom: 15px;

				@at-root .tour_place_city_ls {
					display: flex;
					flex-wrap: wrap;

					> li {

						& + li {
							display: flex;

							&::before {
								content: '/';
								margin: 0 7px;
							}
						}


						a {
							text-transform: uppercase;
							color: #989898;
						}


						&.active a,
						a:hover {
							color: #000;
						}
					}
				}
			}


			@at-root .tour_place_bd {
				margin-bottom: 30px;

				@at-root .tour_place_it {
					background: #fff;

					& + & {
						margin-top: 15px;
					}


					@at-root .tour_place_it_view {

						> .row {
							align-items: center;
						}


						@at-root .tour_place_it_img_lg_bnr {

							@at-root .tour_place_it_img_lg {

								img {
									display: block;
									width: 100%;
									height: 250px;
									object-fit: cover;
								}
							}
						}


						@at-root .tour_place_it_info {
							padding: 10px 0;

							@at-root .tour_place_it_name {
								@include TextMask(48, 24, #fff, false);
								margin-bottom: 15px;
								line-height: 1;
								text-transform: uppercase;
								font-size: 24px;
							}


							@at-root .tour_place_it_city {
								margin-bottom: 20px;
								text-transform: uppercase;
								font-style: italic;
								color: $colorBase;
							}


							@at-root .tour_place_it_txt {
								@include TextMask(105, 21, #fff, false);
								color: #aaa9a9;
							}
						}


						@at-root .tour_place_it_ctrl {
							margin-left: -15px;
							padding: 15px 30px;
							border-left: 1px solid #f1f1f1;

							@at-root .tour_place_it_stat {
								margin-bottom: 15px;

								@at-root .tour_place_it_stat_bd {
									margin-bottom: 10px;

									@at-root .tour_place_it_stat {

										> li {
											display: flex;

											& + li {
												margin-top: 3px;
											}


											.txt {
												width: 50%;
												color: #989898;
											}


											.val {
												width: 50%;
											}
										}
									}
								}


								@at-root .tour_place_it_stat_ft {

								}
							}


							@at-root .tour_place_it_mr {

								@at-root .tour_place_it_mr_btn {
									text-align: center;
									background: $colorBase;
									color: #fff !important;

									&.active,
									&:hover {
										background: $colorAlert;
									}
								}
							}
						}
					}


					@at-root .tour_place_it_desc {

						@at-root .tour_place_it_img_sm_bnr {
							padding: 10px 16px;

							.slick-arrow {
								display: block;
								height: 20px;
								width: 16px;
								position: absolute;
								top: 0;
								bottom: 0;
								margin: auto;

								i {
									display: block;
								}


								&.slick-prev {
									left: 0;
								}


								&.slick-next {
									right: 0;
								}
							}


							@at-root .tour_place_it_img_sm {
								padding: 0 2px;

								img {
									display: block;
									width: 100%;
									height: 50px;
									object-fit: cover;
								}


								&.slick-current img {
									border: 2px solid $colorAlert;
								}
							}
						}


						@at-root .tour_place_it_desc_cnt {
							padding: 40px 0;
							padding-right: 30px;
							position: relative;

							&::before {
								content: '';
								display: block;
								height: 1px;
								position: absolute;
								top: 0;
								left: 0;
								right: 30px;
								background: $colorBase;
							}


							@at-root .tour_place_desc {
								margin-bottom: 40px;

								@at-root .tour_place_desc_ttl {
									margin-bottom: 30px;
									text-transform: uppercase;
									font-size: 24px;
								}


								@at-root .tour_place_desc_cnt {

								}
							}


							@at-root .tour_place_info_mr {
								margin-bottom: 20px;
								border: 1px solid #f1f1f1;
								border-left: 0;
								border-right: 0;

								@at-root .tour_place_info_mr_it {
									display: flex;
									padding: 20px 0;

									& + & {
										border-top: 1px solid #f1f1f1;
									}


									> .txt {
										width: 40%;
										font-weight: 700;
									}


									> .val {
										width: 60%;

										> a {
											display: inline;
											color: $colorAlert;
										}


										@at-root .tour_place_info_mr_prc {

											> li {

												& + li {
													margin-top: 10px;
												}


												> i {
													margin-right: 3px;
													color: $colorBase;
												}


												> .txt {
													display: inline;
												}
											}
										}
									}
								}
							}


							@at-root .tour_place_prc_btn {

								.base_btn {
									max-width: 220px;
									text-align: center;
								}
							}
						}
					}
				}
			}


			@at-root .tour_place_ft {
				display: flex;
				justify-content: center;

				@at-root .pgnt_ls {
					display: flex;

					> li {
						width: 40px;
						height: 40px;
						line-height: 40px;
						text-align: center;

						& + li {
							margin-left: 5px;
						}


						a {
							border-radius: 5px;
							transition: all .3s;
						}


						&.active a,
						a:hover {
							background: $colorBase;
							color: #fff;
						}


						&.ctrl {

							a {
								background: $colorBase;
								color: #fff;
							}

							&.disabled {

								a {
									cursor: not-allowed;
									background: transparent;
									color: inherit;
								}
							}
						}
					}
				}
			}
		}
	}
}
/*========== Place ==========*/





/* Modal
=================================================================*/
@at-root .mdl_tour_prod {
	display: flex;
	align-items: center;
	margin: 0 -30px;
	margin-bottom: 20px;
	padding: 30px;
	font-weight: 300;
	background: #f1f1f1;

	@at-root .mdl_tour_prod_img {
		flex: 0 0 auto;
		margin-right: 12px;
		border: 4px solid #fff;

		img {
			display: block;
			width: 60px;
			height: 60px;
			object-fit: cover;
		}
	}


	@at-root .mdl_tour_prod_txt {

		@at-root .mdl_tour_prod_name {
			margin-bottom: 12px;
			line-height: 1;
			text-transform: uppercase;
			font-size: 16px;
		}


		@at-root .mdl_tour_prod_city {
			text-transform: uppercase;
			font-size: 12px;
			font-style: italic;
			color: $colorBase;
		}
	}
}
/*========== Modal ==========*/

/*********** Tourism ***********/












/* Partners
*****************************************************************************************************/

/* Description
=================================================================*/
@at-root .part_desc_sec {
	margin-bottom: 100px;
	padding-bottom: 100px;
	border-bottom: 1px solid #e9e9e9;

	@at-root .part_desc {

		@at-root .part_desc_ttl {

		}


		@at-root .part_desc_cnt {
			font-weight: 300;
		}
	}
}
/*========== Description ==========*/





/* Offer
=================================================================*/
@at-root .part_ofr_sec {
	margin-bottom: 100px;
	font-weight: 300;

	@at-root .part_ofr {

		@at-root .part_ofr_asd {
			font-weight: 300;

			@at-root .part_ofr_tab {
				background: #434a54;

				@at-root .part_ofr_tab_nav {
					flex-wrap: nowrap;

					a {
						flex: 1 1 auto;
						padding: 20px 10px;
						text-align: center;
						text-transform: uppercase;
						font-size: 12px;
						background: $colorBase;
						color: #fff;

						&.active {
							background-color: transparent;
						}
					}
				}


				@at-root .part_ofr_tab_cnt {

					.tab-pane {
						padding: 20px;
					}


					@at-root .part_ofr_tab_form {

						.form-control {
							@include Placeholder(#8e96a0);
							padding: 9px 12px;
							border: 1px solid #4a515b;
							border-radius: 0;
							font-size: 14px;
							font-weight: inherit;
							box-shadow: none;
							background: #4a515b;
							color: #fff;
						}


						@at-root .part_ofr_sel {
							position: relative;

							select.form-control {
								height: auto !important;
								padding-right: 25px;
							}


							i {
								height: 14px;
								position: absolute;
								right: 15px;
								top: 0;
								bottom: 0;
								margin: auto;
								color: #fff;
							}
						}


						@at-root .part_ofr_tab_form_btn {
							padding: 12px 10px;
						}
					}


					@at-root .part_ofr_tab_ctt {

						@at-root .part_ofr_tab_ctt_it {

							& + & {
								margin-top: 50px;
							}


							> .txt {
								margin-bottom: 5px;
								color: #8e96a0;
							}


							> .val {
								color: #fff;

								&.email {
									word-wrap: break-word;
									text-decoration: underline;
								}


								p {

								}
							}


							@at-root .part_ofr_tab_scl {
								color: #fff;
							}
						}
					}
				}
			}
		}


		@at-root .part_ofr_cnt {
			margin-bottom: 30px;

			@at-root .part_ofr_it {
				border: 1px solid #e9e9e9;

				& + & {
					margin-top: 15px;
				}


				.row {
					align-items: center;
				}


				@at-root .part_ofr_img {

					img {
						display: block;
						width: 100%;
						height: 260px;
						object-fit: cover;
					}
				}


				@at-root .part_ofr_txt {
					padding: 10px 0;
					padding-right: 20px;

					@at-root .part_ofr_name {
						margin-bottom: 5px;
						text-transform: uppercase;
						font-size: 20px;
					}


					@at-root .part_ofr_city {
						margin-bottom: 30px;
						text-transform: uppercase;
						font-style: italic;
						color: $colorBase;
					}


					@at-root .part_ofr_desc {
						margin-bottom: 20px;
						color: #aaa9a9;
					}


					@at-root .part_ofr_go {

						@at-root .part_ofr_go_btn {
							color: $colorBase;

							&:hover {
								color: $colorAlert;
							}


							.txt {
								margin-right: 5px;
							}


							i {
								font-size: 12px;
							}
						}
					}
				}
			}
		}


		@at-root .part_ofr_pgnt {
			display: flex;
			justify-content: center;

			.pgnt_ls {

			}
		}
	}
}
/*========== Offer ==========*/

/*********** Partners ***********/
























/* Something
*****************************************************************************************************/
/*********** Something ***********/



/* Something
=================================================================*/
/*========== Something ==========*/



/* Something
----------------------------------------*/
/*---------- Something ----------*/



