@import 'variables';
@import 'mixins';



/* Min Width
*****************************************************************************************************/

/* 480px (Min Width)
=================================================================*/
@media (min-width: 480px) {


	/*========== 480px (Min Width) ==========*/
}





/* 768px (Min Width)
=================================================================*/
@media (min-width: 768px) {


	/*========== 768px (Min Width) ==========*/
}





/* 992px (Min Width)
=================================================================*/
@media (min-width: 992px) {


	/*========== 992px (Min Width) ==========*/
}





/* 1200px (Min Width)
=================================================================*/
@media (min-width: 1200px) {


	/*========== 1200px (Min Width) ==========*/
}





/* 1590px (Min Width)
=================================================================*/
@media (min-width: 1590px) {


	/*========== 1590px (Min Width) ==========*/
}















/* Max Width
*****************************************************************************************************/

/* 1589px (Max Width)
=================================================================*/
@media (max-width: 1589px) {


	/*========== 1589px (Max Width) ==========*/
}





/* 1199px (Max Width)
=================================================================*/
@media (max-width: 1199px) {
	.nav_scl {
		flex-direction: column;
		text-align: center;
	}
	.nav_scl_txt {
		margin-right: 0;
		margin-bottom: 10px
	}


	.tourism_bx::before {
		width: 100%;
		transform: skewX(-35deg);
	}


	/*========== 1199px (Max Width) ==========*/
}





/* 991px (Max Width)
=================================================================*/
@media (max-width: 991px) {
	.header {
		height: auto;
	}
	.hdr_fixed {
		position: static;
	}

	.hdr_top {
		flex-direction: column;
	}
	.hdr_top_left {
		margin-bottom: 20px;
	}



	.nav_bx {
		justify-content: center;
		padding: 15px 0;
	}
	.nav_menu {
		width: 250px;
		margin-right: 0;
		@include Position(f, 0, 0, 0);
		z-index: 100;
		overflow-x: hidden;
		overflow-y: auto;
		transform: translateX(105%);
		transition: all 0.5s ease;
		background: $colorBase;
		color: #fff;

		&.active {
			transform: translateX(0);
		}
	}
	.nav_menu_ls {
		display: block;
	}
	.nav_menu_ls > li::before {
		width: 70%;
		height: 1px;
		left: 0;
		right: 0;
		top: auto;
	}
	.nav_menu_btn {
		display: flex;

		&.active {
			right: 265px;
		}
	}


	.banner_img {
		height: 600px;
	}
	.banner_capt {
		width: 400px;
	}
	.banner_capt_ttl {
		font-size: 40px;
	}


	.base_title_lg {
		font-size: 34px;
	}


	.advantage_it + .advantage_it {
		border-left: 0;
	}



	.tourism_bg::before,
	.tourism_bx::before {
		display: none;
	}
	.tourism_bx {
		padding: 50px 0;
	}
	.tourism {
		width: 100%;
		max-width: 450px;
		padding: 20px;
		background: rgba($colorBase, 0.85);
	}


	.cmt_leave_cnt {
		padding-left: 0;
		padding-top: 30px;
	}
	.cmt_leave_col + .cmt_leave_col {
		margin-top: 30px;
	}
	.cmt_leave_vdo {
		display: block;
	}
	.cmt_leave_vdo_btn {
		display: flex;
		justify-content: flex-end;
		margin-left: 0;
		margin-top: 10px;
	}


	.contact_info_bx {
		margin-bottom: 50px;
	}


	.tour_place_it_info {
		padding: 20px 15px;
	}
	.tour_place_it_name,
	.tour_place_it_txt {
		max-height: none;

		&::after {
			display: none;
		}
	}
	.tour_place_it_ctrl {
		margin-left: 0;
		padding: 15px;
		border-left: 0;
	}
	.tour_place_it_stat {
		margin-bottom: 30px;
	}
	.tour_place_it_mr_btn {
		max-width: 200px;
	}
	.tour_place_it_view {
		margin-bottom: 15px;
	}
	.tour_place_it_desc_cnt {
		padding: 30px 15px;

		&::before {
			right: 0;
		}
	}
	.tour_place_it_stat > li {
		display: block;
	}
	.tour_place_it_stat > li + li {
		margin-top: 7px;
	}
	.tour_place_it_stat > li .txt,
	.tour_place_it_stat > li .val {
		width: auto;
	}
	.tour_place_info_mr_it {
		display: block;
	}
	.tour_place_info_mr_it > .txt {
		width: auto;
		margin-bottom: 10px;
	}
	.tour_place_info_mr_it > .val {
		width: auto;
	}
	.pgnt_ls {
		display: block;
	}
	.pgnt_ls > li + li {
		margin-left: 0;
		margin-top: 5px;
	}


	.part_ofr_txt {
		padding: 20px;
	}


	/*========== 991px (Max Width) ==========*/
}





/* 767px (Max Width)
=================================================================*/
@media (max-width: 767px) {
	.interest_cnt {
		padding-left: 0;
		padding-top: 20px;
		column-count: auto;
	}


	.foot_it_bx {
		flex-direction: column;
	}



	.base_modal_cls_bx {
		display: flex;
		justify-content: flex-end;
		padding-top: 10px;
		padding-right: 10px;
	}
	.base_modal_cls {
		position: static;
	}


	.wallpaper_ttl {
		font-size: 30px;
	}


	/*========== 767px (Max Width) ==========*/
}





/* 479px (Max Width)
=================================================================*/
@media (max-width: 479px) {
	.hdr_top_left,
	.hdr_top_right {
		flex-direction: column;
		text-align: center;
	}
	.hdr_logo,
	.hdr_ctt {
		margin-right: 0;
		margin-bottom: 20px;
	}



	.banner_img {
		height: 450px;
	}
	.banner_capt {
		width: 100%;
		max-width: 300px;
		padding: 15px;
	}
	.banner_capt_ttl {
		font-size: 25px;
	}
	.banner_capt_cnt {
		font-size: 13px;
	}
	.banner_btn,
	.banner_mouse {
		display: none;
	}


	.comment_bnr {
		padding: 0;
	}
	.comment_bnr_btn {
		display: none;
	}


	.contact_info_ls>li {
		display: block;
	}
	.contact_info_ls>li .txt {
		width: 100%;
	}




	.tour_di_capt_bx {
		position: static;
	}
	.tour_di_capt {
		width: auto;
		padding: 15px 0;
	}
	.tour_di_capt_img {
		display: none;
	}


	/*========== 479px (Max Width) ==========*/
}



