



.container
	.foot_it_bx
		.foot_it
			.foot_logo_bx
				.foot_logo
					a(href="")
						img(src="img/logo.png")
				|
				.foot_logo_capt Ветер Перемен. 2018. &copy; Все права сохранены.
		|
		|

		.foot_it
			ul.foot_contact
				li
					i.fa.fa-map-marker
					span.txt 127427, Москва, ул. Академика Королева, #[br] дом 15, корп. 2
				|
				li
					i.fa.fa-phone
					span.txt +8 (967) 291 8553 , +8 (495) 721 4114
				|
				li
					i.fa.fa-envelope
					span.txt veterperemen2019@mail.ru
		|
		|

		.foot_it
			ul.foot_menu

				-
					var foot_menu_list = [
						'Медицинский туризм',
						'Партнеры',
						'О компании',
						'Контакты',
					]
				each item in foot_menu_list
					li
						a(href="")= item
		|
		|

		.foot_it
			.foot_scl_bx
				.foot_scl
					.foot_scl_txt Мы в соц. сетях

					ul.foot_scl_ls
						-
							var social_list = [
								'fa-facebook',
								'fa-twitter',
								'fa-instagram',
								'fa-vk',
							]

						each item in social_list
							li
								a(href="")
									i.fa(class=item)
				|
				|
				.foot_made
					|Создано в
					|
					a(href="") Smart Outsourcing Solutions




