
.hdr_fixed
	//|=================================== Header Top ===================================|
	.hdr_top_bx
		.container
			.hdr_top
				.hdr_top_left
					.hdr_logo
						a(href="")
							img(src="img/logo.png")

					.hdr_capt Агенство медицинского #[br] туризма
				|
				|

				.hdr_top_right
					.hdr_ctt
						.hdr_ctt_tel
							a(href="tel:+8(495)7214114") +8 (495) #[strong 721 41 14]

						.hdr_ctt_email
							a(href="mailto:support@wpmed.ru") support@wpmed.ru


					.hdr_ctt_btn
						+base_button('border_red', true, {'data-toggle' : 'modal', 'data-target': '#modalContact'}) Связаться с нами
		//|========== Header Top ==========|
	|
	|
	|


	//|=================================== Header Navigation ===================================|
	.nav_sec
		.container
			.nav_bx
				//|____________________ Navigation Menu ____________________|
				.nav_menu
					ul.nav_menu_ls

						-
							var nav_list = [
								'Главная',
								'Медицинский туризм',
								'ПАРТНЕРЫ',
								'О компании',
								'Контакты',
							]
						each item, index in nav_list
							li(class=(index == 0) ? 'active' : '')
								a(href="")= item
					//|__________ Navigation Menu __________|
				|
				|
				//|____________________ Navigation Button ____________________|
				button.nav_menu_btn.fx-c(type="button")
					-for (i = 0; i < 5; i++)
						span.line
						|
						|
				|
				|
				//|____________________ Navigation Background ____________________|
				.nav_menu_bg
				|
				|
				|


				.nav_scl
					.nav_scl_txt Мы в соц. сетях:

					ul.nav_scl_ls

						-
							var social_list = [
								'fa-facebook',
								'fa-twitter',
								'fa-instagram',
								'fa-vk',
							]
						each item in social_list
							li
								a(href="")
									i.fa(class=item)
		//|========== Header Navigation ==========|











//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|