
include styles
include scripts

block variables
	- var title = 'Page title'


doctype html
html
	head
		title #{title}
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no")
		|
		|
		|
		//|____________________ Website description ____________________|
		meta(name="description" content="This is my website")
		meta(name="keywords" content="Website, My")
		meta(name="author" content="Azizbek Iskandarov")
		|
		|
		|
		//|____________________ Favicon ____________________|
		link(rel="shortcut icon" type="image/x-icon" href="img/favicon.png")
		|
		|
		|
		//|____________________ Libraries ____________________|
		each item in css_library
			link(rel="stylesheet" type="text/css" href=item)
		|
		|
		|
		//|____________________ Styles ____________________|
		each item in css_custom
			link(rel="stylesheet" type="text/css" href=item)


	body

		//|____________________ Internet Explorer ____________________|
		|
		|
		<!--[if IE]>
		.ie_bx
			h2 You are using the old version of Internet Explorer
			h2 Please, download Google Chrome for better performance!
			h2
				a(href="https://www.google.com/chrome/") https://www.google.com/chrome/

		.ie_bg
		|
		|
		<![endif]-->
		//|__________ Internet Explorer __________|
		|
		|
		|
		|






		//|************************************************** Header **************************************************|
		header(class="header")
			include header
			|
			//|********** Header **********|
		|
		|
		|
		|
		//|************************************************** Main **************************************************|
		main(class="main")
			block main
				p Test Font
			|
			//|********** Main **********|
		|
		|
		|
		|
		//|************************************************** Footer **************************************************|
		footer(class="footer")
			include footer
			|
			//|********** Footer **********|

		|
		|
		|
		//|____________________ Anchor ____________________|
		button.anchor(type="button")
			i.fa.fa-angle-up
			span.txt вверх
		|
		|
		|



		//|____________________ Modal Contact ____________________|
		include modal_contact
		|
		|
		|







		|
		|
		|
		|
		//|************************************************** JavaScript Plugins **************************************************|
		|
		|
		//|____________________ Jquery ____________________|
		script(type="text/javascript" src="lib/jquery-3.2.1.min.js")
		|
		|
		|
		//|____________________ Libraries ____________________|
		each item in js_library
			script(type="text/javascript" src=item)
		|
		|
		|
		//|____________________ Scripts ____________________|
		each item in js_custom
			script(type="text/javascript" src=item)