


mixin base_button(class_name = '', tag_type = true, something = {})
	if tag_type
		a.base_btn(href="" class=class_name)&attributes(something)
			if block
				block
	else
		button.base_btn(type="submit" class=class_name)&attributes(something)
			if block
				block





mixin base_title_sm(class_name = '')
	h4.base_title_sm(class=class_name)
		if block
			block





mixin base_title_lg(class_name = '')
	h2.base_title_lg(class=class_name)
		if block
			block







mixin advantage_complex_item(object)
	.col-lg-6.advantage_it
		.advantage_img
			img(src=object.image)
		|
		|
		.advantage_txt
			.advantage_name= object.name

			.advantage_info= object.text







mixin title_line(class_name = '')
	.title_line_bx(class=class_name)
		.title_line







