
include mixins


block modal_vars
	-
		var
			modal_id = '',
			modal_class = '',
			title = 'title',
			header_caption = 'Внимание, все поля обязательны для заполнения. С вами свяжется наш менеджер.',
			button = 'Отправить заявку',
			footer_caption = 'Нажимая кнопку “Отправить заявку”, вы даете согласие на обработку ваших персональных данных.'




.modal.fade.base_modal(id=modal_id class=modal_class)
	.modal-dialog
		.modal-content
			//|=================================== Modal Core ===================================|
			.base_modal_cnt.core.active
				form
					|
					|
					.base_modal_cls_bx
						button.base_modal_cls(data-dismiss="modal")
							i.fa.fa-times
					|
					|
					.base_modal_hd
						.base_modal_ttl= title
						+title_line('base_modal_ttl_line')
						p.base_modal_ttl_capt= header_caption
					|
					|
					|
					.base_modal_bd
						block body
					|
					|
					|
					.base_modal_ft
						+base_button('base_modal_btn border_red', false, {'data-send-form': ''})= button
						p.base_modal_terms= footer_caption
				//|========== Modal Core ==========|
			|
			|
			|



			//|=================================== Modal Thanks ===================================|
			.base_modal_cnt.thank
				|
				|
				.base_modal_cls_bx
					button.base_modal_cls(data-dismiss="modal")
						i.fa.fa-times
				|
				|
				.base_modal_thk_txt
					.base_modal_ttl.thank Спасибо за заявку!
					|
					.base_modal_thk_info.
						Апостериори, гравитационный парадокс амбивалентно понимает под собой интеллигибельный знак. Наряду с этим ощущение мира контролирует непредвиденный гравитационный парадокс.
					|
					.base_modal_thk_btn
						+base_button('base_modal_btn border_red thank', true, {'data-dismiss': 'modal'}) Закрыть форму
				|
				|
				|
				.base_modal_thk_img
					img(src="img/form_submitted.png")
				//|========== Modal Thanks ==========|








//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|