
extends modal
include mixins


append modal_vars
	-
		var
			modal_id = 'modalTourism',
			modal_class = '',
			title = 'Форма заявки',
			header_caption = 'Внимание, все поля обязательны для заполнения. С вами свяжется наш менеджер.',
			button = 'Узнать цену и подробности',
			footer_caption = 'Нажимая кнопку “Узнать цену и подробности”, вы даете согласие на обработку ваших персональных данных.'





block body


	.mdl_tour_prod
		.mdl_tour_prod_img
			img(src="img/tourism_place_2.jpg")

		.mdl_tour_prod_txt
			.mdl_tour_prod_name Capella Marigot Bay Resort & Marina
			.mdl_tour_prod_city MARIGOT BAY, ST.LUCIA


	.form-group
		label Имя
		input.cmt_leave_inp(type="text")
	|
	|
	.form-group
		label Телефон
		input.cmt_leave_inp(type="tel")
	|
	|
	.form-group
		label Email
		input.cmt_leave_inp(type="email")








//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|