
extends modal
include mixins


append modal_vars
	-
		var
			modal_id = 'modalContact',
			modal_class = '',
			title = 'Свяжитесь с нами'





block body

	.form-group
		label Имя
		input.cmt_leave_inp(type="text")
	|
	|
	.form-group
		label Телефон
		input.cmt_leave_inp(type="tel")
	|
	|
	.form-group
		label Email
		input.cmt_leave_inp(type="email")
	|
	|
	.form-group
		label Направление
		.mdl_select
			select.cmt_leave_inp
				-for (i = 0; i < 3; i++)
					option Выберите направление

			i.fa.fa-angle-down
	|
	|
	.form-group
		label Цель отдыха
		.mdl_select
			select.cmt_leave_inp
				-for (i = 0; i < 3; i++)
				option Выберите направление

			i.fa.fa-angle-down








//- |=================================== Something ===================================|
//- |========== Something ==========|


//- |____________________ Something ____________________|
//- |__________ Something __________|