-
	var js_library_root = 'lib/'
	var js_library = [
		js_library_root + 'bootstrap/bootstrap.min.js',
		js_library_root + 'owl_carousel/owl.carousel.min.js',
		js_library_root + 'slick/slick.min.js',
	]




	var js_custom_root = 'js/'
	var js_custom = [
		js_custom_root + 'custom.js',
	]