
extends includes/main
include includes/mixins

append variables
	- var title = 'about'




block main

	//|=================================== Wallpaper ===================================|
	.wallpaper
		img.wallpaper_img(src="img/wallpaper_about.jpg")

		.container.wallpaper_capt
			.wallpaper_ttl О КОМПАНИИ
			|
			|
			ul.wallpaper_bread
				li
					a(href="") ГЛАВНАЯ

				li О КОМПАНИИ

		//|========== Wallpaper ==========|
	|
	|
	|



	//|=================================== About Interest ===================================|
	.about_int_sec
		.container
			.interest
				.interest_ttl
					+base_title_sm О нас

					+base_title_lg Все, что может Вас #[br] заинтересовать о нас
				|
				|
				.interest_cnt
					p.
						Аксиома силлогизма, по определению, представляет собой неоднозначный предмет деятельности. Смысл жизни, следовательно, творит данный закон внешнего мира. Структурализм абстрактен. Дискретность амбивалентно транспонирует гравитационный парадокс. Импликация, следовательно, контролирует бабувизм, открывая новые г

					p.
						Отсюда естественно следует, что автоматизация дискредитирует предмет деятельности. Дискретность амбивалентно транспонирует гравитационный парадокс. Гедонизм осмысляет дедуктивный метод. Дедуктивный метод решительно представляет собой бабувизм. Гедонизм осмысляет дедуктивный метод. Смысл жизни, следовательно, творит данный закон вн


					p.
						Сомнение рефлектирует естественный закон исключённого третьего.. Смысл жизни, следовательно, творит данный закон внешнего мира. Согласно мнению известных философов, дедуктивный метод естественно порождает и обеспечивает мир, tertium nоn datur. Структурализм абстрактен. Надстройка нетривиальна. Импликация, сл

					p.
						Наряду с этим ощущение мира решительно контролирует непредвиденный гравитационный парадокс. Интеллект естественно понимает под собой интеллигибельный закон внешнего мира, открывая новые горизонты. Отсюда естественно следует, что автоматизация дискредитирует предмет деятельности.

		//|========== About Interest ==========|
	|
	|
	|



	//|=================================== About Statistics ===================================|
	.about_stat_sec(style="background-image: url('img/about_statistics.jpg');")
		.container
			.about_stat
				+base_title_lg('about_stat_ttl') Делаем правильный вещи, #[br] в нужное время.
				|
				|
				.about_stat_cnt
					ul.about_stat_ls

						-
							var aboutStats = [
								{
									'value': '15',
									'text': 'НАПРАВЛЕНИЙ',
								},
								{
									'value': '50',
									'text': 'ТУРОВ',
								},
								{
									'value': '860+',
									'text': 'КЛИЕНТОВ',
								},
								{
									'value': '12',
									'text': 'СОТРУДНИКОВ',
								},
							]

						each item in aboutStats
							li
								.val= item.value
								.txt= item.text
		//|========== About Statistics ==========|
	|
	|
	|



	//|=================================== About Mission ===================================|
	.about_miss_sec
		.container
			.about_miss
				.row
					.col-lg-5.mb-4.mb-lg-0
						.about_miss_name.
							Наша миссия, предоставить
							лучший комфорт и условия
							для вашего отдыха.
					|
					|
					.col-lg-7
						.about_miss_txt.
							Аксиома силлогизма, по определению, представляет собой неоднозначный предмет деятельности. Смысл жизни, следовательно, творит данный закон внешнего мира. Структурализм абстрактен. Дискретность амбивалентно транспонирует гравитационный парадокс. Отсюда естественно следует, что автоматизация дискредитирует предмет деятельности.

		//|========== About Mission ==========|
	|
	|
	|



	//|=================================== Partner ===================================|
	.partner_sec.about_part_sec
		.container
			.partner_bnr_bx
				.partner_bnr

					-
						var partner_list = [
							'img/home_partner_1.png',
							'img/home_partner_2.png',
							'img/home_partner_3.png',
							'img/home_partner_4.png',
							'img/home_partner_5.png',
						]
					-for (i = 0; i < 2; i++)
						each item in partner_list
							.partner_bnr_it
								img(src=item)
				|
				|

				.partner_bnr_nav
					.partner_bnr_btn.fx-c.prev
						i.fa.fa-angle-left
					|
					.partner_bnr_btn.fx-c.next
						i.fa.fa-angle-right
		//|========== Partner ==========|
	|
	|
	|















	//- |=================================== Something ===================================|
	//- |========== Something ==========|


	//- |____________________ Something ____________________|
	//- |__________ Something __________|
	