
extends includes/main
include includes/mixins

append variables
	- var title = 'contact'




block main

	//|=================================== Wallpaper ===================================|
	.wallpaper
		img.wallpaper_img(src="img/wallpaper_contact.jpg")

		.container.wallpaper_capt
			.wallpaper_ttl КОНТАКТЫ
			|
			|
			ul.wallpaper_bread
				li
					a(href="") ГЛАВНАЯ

				li КОНТАКТЫ

		//|========== Wallpaper ==========|
	|
	|
	|



	//|=================================== Contact ===================================|
	.contact_sec
		.container
			.contact
				.contact_ttl
					+base_title_sm('contact_ttl_sm') НАШИ КОНТАКТЫ
					+base_title_lg('contact_ttl_lg') Свяжитесь с нами
					+title_line('contact_ttl_line')
				|
				|
				.contact_cnt
					.row
						.col-lg-4
							.contact_info_bx
								|
								.contact_info
									.contact_info_txt.
										Созерцание непредсказуемо. Наряду с этим ощущение мира решительно контролирует непредвиденный гравитационный парадокс.

									ul.contact_info_ls

										-
											var contactInfo = [
												{
													'text': 'Адрес',
													'value': '127427, Москва, ул. Академика Королева, дом 15, корп. 2',
												},
												{
													'text': 'Телефон',
													'value': [
														'+8 (967) 291 8553',
														'+8 (495) 721 4114',
													],
												},
												{
													'text': 'Email',
													'value': 'veterperemen2019@mail.ru',
												},
											]
										each item1, index1 in contactInfo
											if (index1 === 1)
												li
													.txt= item1.text
													.val
														each item2, index2 in item1.value
															if (index2 !== 0)
																br
															| #{item2}
											else if	(index1 === 2)
												li
													.txt= item1.text
													.val.info= item1.value
											else
												li
													.txt= item1.text
													.val= item1.value
								|
								|
								.contact_scl
									.contact_scl_ttl Мы в соц. сетях

									ul.contact_scl_ls

										-
											var contactSocial = [
												'fa-facebook',
												'fa-twitter',
												'fa-instagram',
												'fa-paper-plane',
											]
										each item in contactSocial
											li
												a(href="")
													i.fa(class=item)
						|
						|
						.col-lg-8
							.contact_form
								form
									|
									|
									.row
										.form-group.col-sm-6
											.cmt_leave_lbl Имя
											input.cmt_leave_inp

										.form-group.col-sm-6
											.cmt_leave_lbl Компания
											input.cmt_leave_inp
									|
									|
									.row
										.form-group.col-sm-6
											.cmt_leave_lbl Телефон
											input.cmt_leave_inp

										.form-group.col-sm-6
											.cmt_leave_lbl Email
											input.cmt_leave_inp
									|
									|
									.form-group
										.cmt_leave_lbl Сообщение
										textarea.cmt_leave_inp.txtarea(rows="4")
									|
									|
									.contact_form_btn
										+base_button('border_red', false) Отправить отзыв
									|
									|
									.contact_form_capt
										.cmt_leave_capt Нажимая кнопку “Отправить отзыв”, вы даете согласие на обработку ваших персональных данных.

		//|========== Contact ==========|
	|
	|
	|



	//|=================================== Contact Map ===================================|
	.contact_map
		img.contact_map_img(src="img/contact_map.jpg")

		//|========== Contact Map ==========|
	|
	|
	|















	//- |=================================== Something ===================================|
	//- |========== Something ==========|


	//- |____________________ Something ____________________|
	//- |__________ Something __________|
	