
extends includes/main
include includes/mixins

append variables
	- var title = 'index'




block main

	//|=================================== Banner ===================================|
	.banner_sec
		.banner_bx
			.banner

				-for (i = 0; i < 3; i++)
					.banner_it
						img.banner_img(src="img/home_banner.jpg")

						.container.banner_capt_bx
							|
							|
							a.banner_capt(href="")
								.banner_capt_ttl Путешествие длиною в жизнь

								.banner_capt_cnt.
									Созерцание непредсказуемо. Смысл жизни, следовательно, творит данный
									закон внешнего мира. Созерцание непредсказуемо. Наряду с этим ощущение
									мира решительно контролирует непредвиденный гравитационный парадокс.
					|
					|
			|
			|


			.banner_nav
				.banner_btn.fx-c.prev
					i.fa.fa-angle-left

				.banner_btn.fx-c.next
					i.fa.fa-angle-right
			|
			|


			a.banner_mouse(href="")
				img(src="img/home_banner_mouse.png")
		//|========== Banner ==========|
	|
	|
	|


	//|=================================== Advantage ===================================|
	.advantage_sec
		.advantage.bg-cover(style={"background-image": "url('img/home_advantage_bg.jpg')"})
			.advantage_ttl_bx
				.container
					.advantage_ttl
						+base_title_sm НАШИ ПРЕИМУЩЕСТВА

						+base_title_lg То, что нас выделяет
			|
			|

			.advantage_cnt_bx
				.container
					.advantage_cnt
						-
							var advantage_list = [
								{
									'image': 'img/home_advantage_1.png',
									'name': 'Свобода действий',
									'text': 'Созерцание непредсказуемо. Смысл жизни, выходит следовательно, творит данный закон внешнего мира.',
								},
								{
									'image': 'img/home_advantage_2.png',
									'name': '«Умная» экономия',
									'text': 'Созерцание непредсказуемо. Смысл жизни, выходит следовательно, творит данный закон внешнего мира.',
								},
								{
									'image': 'img/home_advantage_3.png',
									'name': 'Колорит путешествия',
									'text': 'Созерцание непредсказуемо. Смысл жизни, выходит следовательно, творит данный закон внешнего мира.',
								},
								{
									'image': 'img/home_advantage_4.png',
									'name': 'Путешествие ДЛЯ ЗДОРОВЬЯ',
									'text': 'Созерцание непредсказуемо. Смысл жизни, выходит следовательно, творит данный закон внешнего мира.',
								},
								{
									'image': 'img/home_advantage_5.png',
									'name': 'ОФОРМЛЕНИЕ ВИЗ И ТРАНСФЕРОВ',
									'text': 'Созерцание непредсказуемо. Смысл жизни, выходит следовательно, творит данный закон внешнего мира.',
								},
								{
									'image': 'img/home_advantage_6.png',
									'name': 'ПОДБОР ЛУЧШИХ ЦЕН',
									'text': 'Созерцание непредсказуемо. Смысл жизни, выходит следовательно, творит данный закон внешнего мира.',
								},
							]

						-for(i = 0; i < advantage_list.length; i++)
							.row.advantage_row
								+advantage_complex_item(advantage_list[i])
								|
								|

								if (i + 1 < advantage_list.length)
									-i++

									+advantage_complex_item(advantage_list[i])
							|
							|
		//|========== Advantage ==========|
	|
	|
	|


	//|=================================== Tourism ===================================|
	.tourism_sec
		.tourism_bg
			img(src="img/home_tourism_bg.jpg")

		.container
			.tourism_bx
				.tourism
					.tourism_hd
						+base_title_sm Информация о медицинском туризме

						+base_title_lg Что такое мед. туризм?
					|
					|
					.tourism_bd
						p.
							Созерцание непредсказуемо. Смысл жизни, следовательно, творит данный закон
							внешнего мира. Созерцание непредсказуемо. Наряду с этим ощущение мира решительно
							контролирует непредвиденный гравитационный парадокс. Дискретность амбивалентно
							транспонирует гравитационный парадокс. Дискретность амбивалентно транспонирует
							гравитационный парадок

						p.
							Смысл жизни, следовательно, творит данный закон внешнего мира. Гедонизм осмысляет
							дедуктивный метод. Дедуктивный метод решительно представляет собой бабувизм. Смысл
							жизни, следовательно, творит данный закон внешнего мира. Дедуктивный метод решительно
							представляет собой бабувизм. Наряду с этим ощущение
					|
					|
					.tourism_ft
						+base_button('border_white')
							span.txt Узнать больше
							i.fa.fa-arrow-right

		//|========== Tourism ==========|
	|
	|
	|


	//|=================================== Interest ===================================|
	.interest_sec
		img.interest_bg(src="img/home_interest_ballon.png")

		.container
			.interest
				.interest_ttl
					+base_title_sm О нас

					+base_title_lg Все, что может Вас #[br] заинтересовать о нас
				|
				|
				.interest_cnt
					p.
						Созерцание непредсказуемо. Смысл жизни, следовательно, творит данный закон
						внешнего мира. Созерцание непредсказуемо. Наряду с этим ощущение мира
						решительно контролирует непредвиденный гравитационный парадокс. Дискретность
						амбивалентно транспонирует гравитационный парадокс. Дискретность амбивалентно
						транспонирует гравитационный парадок

					p.
						Смысл жизни, следовательно, творит данный закон внешнего мира. Гедонизм осмысляет
						дедуктивный метод. Дедуктивный метод решительно представляет собой бабувизм. Смысл
						жизни, следовательно, творит данный закон внешнего мира. Дедуктивный метод решительно
						представляет собой бабувизм.

					p.
						Созерцание непредсказуемо. Смысл жизни, следовательно, творит данный закон внешнего
						мира. Созерцание непредсказуемо. Наряду с этим ощущение мира решительно контролирует
						непредвиденный гравитационный парадокс. Дискретность амбивалентно транспонирует
						гравитационный парадокс. Дискретность амбивалентно транспонирует гравитационный парадок

					p.
						Смысл жизни, следовательно, творит данный закон внешнего мира.
						Гедонизм осмысляет дедуктивный метод.

					.interest_more
						a(href="")
							span.txt Узнать больше
							i.fa.fa-arrow-right
		|
		|

		.interest_pano
			img(src="img/home_interest_panorama.png")

		//|========== Interest ==========|
	|
	|
	|


	//|=================================== Comment ===================================|
	.comment_sec
		.container
			.comment
				.comment_ttl.text-center
					+base_title_lg Отзывы о нашей работе
				|
				|
				.comment_cnt
					.comment_bnr

						-
							var comment_list = [
								{
									'video': 'img/video/home_comment_video_1.mp4',
									'image': 'img/home_comment_man_1.jpg',
									'name': 'Мария Петрова',
									'position': 'Домохозяйка',
								},
								{
									'video': 'img/video/home_comment_video_2.mp4',
									'image': 'img/home_comment_man_2.jpg',
									'name': 'Виктор Никифоров',
									'position': 'Менеджер',
								},
							]

						-for (i = 0; i < 3; i++)
							each item in comment_list
								.comment_it
									.comment_vdo_bx(style={"background-image": "url('img/home_comment_video_frame.png')"})
										.comment_vdo
											video.val
												source(src=item.video type="video/mp4")

										.comment_vdo_i.active
											img(src="img/home_comment_video_play.png")
									|
									|
									.comment_man_bx
										.comment_man
											.comment_man_img
												img(src=item.image)
											|
											.comment_man_name= item.name
											.comment_man_pos= item.position
					|
					|

					.comment_bnr_nav
						.comment_bnr_btn.fx-c.prev
							i.fa.fa-angle-left
						|
						|
						.comment_bnr_btn.fx-c.next
							i.fa.fa-angle-right
		//|========== Comment ==========|
	|
	|
	|


	//|=================================== Comment Leave ===================================|
	.cmt_leave_sec
		.container
			.cmt_leave
				.cmt_leave_ttl
					+base_title_lg Вам есть что сказать? #[br] Оставьте отзыв!
				|
				|
				.cmt_leave_cnt
					form
						.cmt_leave_fld
							.row.cmt_leave_row
								.col-lg-6.cmt_leave_col
									.cmt_leave_lbl Имя
									input.cmt_leave_inp(type="text")
								|
								.col-lg-6.cmt_leave_col
									.cmt_leave_lbl Фамилия
									input.cmt_leave_inp(type="text")
							|
							|
							.row.cmt_leave_row
								.col-lg-6.cmt_leave_col
									.cmt_leave_lbl Должность
									input.cmt_leave_inp(type="text")
								|
								.col-lg-6.cmt_leave_col
									.cmt_leave_lbl Фото
									.cmt_leave_img
										input.cmt_leave_inp.cmt_leave_img_inp(type="text" placeholder="Файл не выбран")
										label.cmt_leave_img_btn.fx-c
											input(type="file" accept="image/*" hidden)
											img(src="img/home_upload_photo.png")
							|
							|
							.row.cmt_leave_row
								.col-lg-12.cmt_leave_col
									.cmt_leave_lbl Ваш видео отзыв
									.cmt_leave_vdo
										.cmt_leave_vdo_inp
											input.cmt_leave_inp(type="text" placeholder="Файл не выбран")

										.cmt_leave_vdo_btn
											label Загрузить видео
												input(type="file" accept="video/*" hidden)
							|
							|
							.row.cmt_leave_row
								.col-lg-12.cmt_leave_col
									.cmt_leave_btn
										+base_button('border_red', false) Отправить отзыв
							|
							|
							.row.cmt_leave_row
								.col-lg-12.cmt_leave_col
									.cmt_leave_capt.
										Нажимая кнопку “Отправить отзыв”, вы даете согласие на обработку ваших персональных данных.

		//|========== Comment Leave ==========|
	|
	|
	|


	//|=================================== Partner ===================================|
	.partner_sec
		.container
			.partner_bnr_bx
				.partner_bnr

					-
						var partner_list = [
							'img/home_partner_1.png',
							'img/home_partner_2.png',
							'img/home_partner_3.png',
							'img/home_partner_4.png',
							'img/home_partner_5.png',
						]
					-for (i = 0; i < 2; i++)
						each item in partner_list
							.partner_bnr_it
								img(src=item)
				|
				|

				.partner_bnr_nav
					.partner_bnr_btn.fx-c.prev
						i.fa.fa-angle-left
					|
					.partner_bnr_btn.fx-c.next
						i.fa.fa-angle-right
		//|========== Partner ==========|
	|
	|
	|















	//- |=================================== Something ===================================|
	//- |========== Something ==========|


	//- |____________________ Something ____________________|
	//- |__________ Something __________|
	