
extends includes/main
include includes/mixins

append variables
	- var title = 'partner'




block main

	//|=================================== Wallpaper ===================================|
	.wallpaper
		img.wallpaper_img(src="img/wallpaper_partner.jpg")

		.container.wallpaper_capt
			.wallpaper_ttl ПАРТНЕРЫ
			|
			|
			ul.wallpaper_bread
				li
					a(href="") ГЛАВНАЯ

				li ПАРТНЕРЫ

		//|========== Wallpaper ==========|
	|
	|
	|



	//|=================================== Description ===================================|
	.part_desc_sec
		.container
			.part_desc
				.contact_ttl.tour_di_ttl.part_desc_ttl
					+base_title_sm('contact_ttl_sm') ПАРТНЕРЫ
					+base_title_lg('contact_ttl_lg') Партнеры
					+title_line('contact_ttl_line')
				|
				|
				.part_desc_cnt.
					Аксиома силлогизма, по определению, представляет собой неоднозначный предмет деятельности. Смысл жизни, следовательно, творит данный закон внешнего мира. Структурализм абстрактен. Дискретность амбивалентно транспонирует гравитационный парадокс. Импликация, следовательно, контролирует бабувизм, открывая новые Отсюда естественно следует, что автоматизация дискредитирует предмет деятельности. Дискретность амбивалентно транспонирует гравитационный парадокс. Гедонизм осмысляет дедуктивный метод. Дедуктивный метод решительно представляет собой бабувизм. Гедонизм осмысляет дедуктивный метод. Смысл жизни, следовательно, творит данный закон.

		//|========== Description ==========|
	|
	|
	|



	//|=================================== Offer ===================================|
	.part_ofr_sec
		.container
			.part_ofr
				.row
					.col-lg-3.mb-5.mb-lg-0
						.part_ofr_asd
							.part_ofr_tab
								.nav.part_ofr_tab_nav
									a.fx-c.active(data-toggle="tab" href="#connection") ОБРАТНАЯ СВЯЗЬ
									a.fx-c(data-toggle="tab" href="#contact") КОНТАКТЫ

								.tab-content.part_ofr_tab_cnt
									.tab-pane.fade.show.active(id="connection")
										.part_ofr_tab_form
											form
												.form-group
													input.form-control(type="text" placeholder="Имя")
												.form-group
													input.form-control(type="email" placeholder="Email")
												.form-group
													input.form-control(type="tel" placeholder="Телефон")
												.form-group
													.part_ofr_sel
														select.form-control.ap-n
															option Выберите тему
															option Выберите тему
															option Выберите тему
														i.fa.fa-angle-down
												.form-group
													textarea.form-control(rows="7" placeholder="Сообщение")
												.form-group
													+base_button('border_green part_ofr_tab_form_btn') Отправить сообщение
									|
									|
									.tab-pane.fade(id="contact")
										.part_ofr_tab_ctt
											.part_ofr_tab_ctt_it
												.txt Адрес
												.val 127427, Москва, ул. Академика Королева, дом 15, корп. 2

											.part_ofr_tab_ctt_it
												.txt Телефон
												.val
													p +8 (967) 291 8553
													p +8 (495) 721 4114

											.part_ofr_tab_ctt_it
												.txt Email
												.val.email veterperemen2019@mail.ru

											.part_ofr_tab_ctt_it
												.contact_scl.part_ofr_tab_scl
													.contact_scl_ttl Мы в соц. сетях

													ul.contact_scl_ls

														-
															var contactSocial = [
															'fa-facebook',
															'fa-twitter',
															'fa-instagram',
															'fa-paper-plane',
															]
														each item in contactSocial
															li
																a(href="")
																	i.fa(class=item)
					|
					|
					.col-lg-9
						.part_ofr_cnt

							-
								var partnerOffer = {
									'image': 'img/tourism_place_4.jpg',
									'name': 'Capella Marigot Bay Resort & Marina',
									'city': 'MARIGOT BAY, ST.LUCIA',
									'text': 'Аксиома силлогизма, по определению, представляет собой неоднозначный предмет деятельности. Смысл жизни, следовательно, творит данный закон внешнего мира. Структурализм абстрактен.',
								}
							-for(i = 0; i < 5; i++)
								.part_ofr_it
									.row
										.col-lg-4
											.part_ofr_img
												img(src=partnerOffer.image)
										|
										|
										.col-lg-8
											.part_ofr_txt
												.part_ofr_name= partnerOffer.name

												.part_ofr_city= partnerOffer.city

												.part_ofr_desc= partnerOffer.text

												.part_ofr_go
													a.part_ofr_go_btn(href="")
														span.txt Перейти на сайт
														i.fa.fa-arrow-right

						|
						|

						.part_ofr_pgnt
							ul.pgnt_ls
								li.ctrl.disabled
									a(href="")
										i.fa.fa-angle-left
								li.active
									a(href="") 1
								li
									a(href="") 2
								li
									a(href="") 3

								li ...

								li
									a(href="") 20
								li.ctrl
									a(href="")
										i.fa.fa-angle-right


		//|========== Offer ==========|
	|
	|
	|


	//|=================================== Partner ===================================|
	.partner_sec
		.container
			.partner_bnr_bx
				.partner_bnr

					-
						var partner_list = [
							'img/home_partner_1.png',
							'img/home_partner_2.png',
							'img/home_partner_3.png',
							'img/home_partner_4.png',
							'img/home_partner_5.png',
						]
					-for (i = 0; i < 2; i++)
						each item in partner_list
							.partner_bnr_it
								img(src=item)
				|
				|

				.partner_bnr_nav
					.partner_bnr_btn.fx-c.prev
						i.fa.fa-angle-left
					|
					.partner_bnr_btn.fx-c.next
						i.fa.fa-angle-right
		//|========== Partner ==========|
	|
	|
	|















	//- |=================================== Something ===================================|
	//- |========== Something ==========|


	//- |____________________ Something ____________________|
	//- |__________ Something __________|
	