
extends includes/main
include includes/mixins

append variables
	- var title = 'tourism'




block main

	//|=================================== Wallpaper ===================================|
	.wallpaper
		img.wallpaper_img(src="img/wallpaper_tourism.jpg")

		.container.wallpaper_capt
			.wallpaper_ttl МЕДИЦИНСКИЙ ТУРИЗМ
			|
			|
			ul.wallpaper_bread
				li
					a(href="") ГЛАВНАЯ

				li МЕДИЦИНСКИЙ ТУРИЗМ

		//|========== Wallpaper ==========|
	|
	|
	|



	//|=================================== Tourism Direction ===================================|
	.tour_di_sec
		.container
			.tour_di
				.contact_ttl.tour_di_ttl
					+base_title_sm('contact_ttl_sm') НАШИ КОНТАКТЫ
					+base_title_lg('contact_ttl_lg') Свяжитесь с нами
					+title_line('contact_ttl_line')
				|
				|
				.tour_di_cnt
					.row.tour_di_row

						-
							var tourDirection = [
								{
									'title': 'Спа-курорты',
									'text': 'Аксиома силлогизма, по определению, представляет собой неоднозначный предмет деятельности.',
									'image': 'img/tourism_direction_1.jpg',
								},
								{
									'title': 'курорты',
									'text': 'Аксиома силлогизма, по определению, представляет собой неоднозначный предмет деятельности.',
									'image': 'img/tourism_direction_2.jpg',
								},
								{
									'title': 'САНАТОРИИ',
									'text': 'Аксиома силлогизма, по определению, представляет собой неоднозначный предмет деятельности.',
									'image': 'img/tourism_direction_3.jpg',
								},
								{
									'title': 'ЛЕЧЕНИЕ',
									'text': 'Аксиома силлогизма, по определению, представляет собой неоднозначный предмет деятельности.',
									'image': 'img/tourism_direction_4.jpg',
								},
							]

						each item in tourDirection
							.col-lg-6.tour_di_col
								.tour_di_it
									img.tour_di_img(src=item.image)

									.tour_di_capt_bx
										.tour_di_capt
											img.tour_di_capt_img(src=item.image)

											.tour_di_body
												.tour_di_name= item.title
												|
												|
												.tour_di_txt= item.text
												|
												|
												.tour_di_show
													a.btn.tour_di_show_btn Показать
		//|========== Tourism Direction ==========|
	|
	|
	|



	//|=================================== Tourism Place ===================================|
	.tour_place_sec
		.tour_place_bx
			.container
				.tour_place
					.tour_place_hd
						ul.tour_place_city_ls
							-
								var tourPlaceCity = [
									'ВСЕ',
									'ЕВРОПА',
									'АМЕРИКА',
									'АЗИЯ',
									'АФРИКА',
								]
							each item, index in tourPlaceCity
								li(class= (index === 0) ? 'active' : '')
									a(href="")= item

					|
					|
					.tour_place_bd
						-for (i = 0; i < 4; i++)
							.tour_place_it
								.tour_place_it_view
									.row
										.col-lg-3
											.tour_place_it_img_lg_bnr(id="place-banner-" + i)
												.tour_place_it_img_lg
													img(src="img/tourism_place_1.jpg")
												.tour_place_it_img_lg
													img(src="img/tourism_place_2.jpg")
												.tour_place_it_img_lg
													img(src="img/tourism_place_3.jpg")
												.tour_place_it_img_lg
													img(src="img/tourism_place_4.jpg")
												.tour_place_it_img_lg
													img(src="img/tourism_place_5.jpg")
												.tour_place_it_img_lg
													img(src="img/tourism_place_1.jpg")
												.tour_place_it_img_lg
													img(src="img/tourism_place_2.jpg")
												.tour_place_it_img_lg
													img(src="img/tourism_place_3.jpg")
												.tour_place_it_img_lg
													img(src="img/tourism_place_4.jpg")
												.tour_place_it_img_lg
													img(src="img/tourism_place_5.jpg")
										|
										|
										.col-lg-6
											.tour_place_it_info
												.tour_place_it_name Capella Marigot Bay Resort & Marina
												|
												|
												.tour_place_it_city MARIGOT BAY, ST.LUCIA
												|
												|
												.tour_place_it_txt.
													Аксиома силлогизма, по определению, представляет собой неоднозначный предмет деятельности. Смысл жизни, следовательно, творит данный закон внешнего мира. Структурализм абстрактен. Дискретность амбивалентно транспонирует гравитационный парадокс.
										|
										|
										.col-lg-3
											.tour_place_it_ctrl
												.tour_place_it_stat
													.tour_place_it_stat_bd
														ul.tour_place_it_stat
															li
																.txt Страна:
																.val Азия
															li
																.txt Дней:
																.val 7-10 дней
															li
																.txt Человек:
																.val 2
													|
													|
													.tour_place_it_stat_ft
														ul.tour_place_it_stat
															li
																.txt Цена:
																.val Договорная
												|
												|
												.tour_place_it_mr
													+base_button('tour_place_it_mr_btn') Подробнее
								|
								|

								.tour_place_it_desc(style={'display': 'none'})
									.row
										.col-lg-3.d-none.d-lg-block
											.tour_place_it_img_sm_bnr(id="place-banner-thumb-" + i)
												.tour_place_it_img_sm
													img(src="img/tourism_place_1.jpg")
												.tour_place_it_img_sm
													img(src="img/tourism_place_2.jpg")
												.tour_place_it_img_sm
													img(src="img/tourism_place_3.jpg")
												.tour_place_it_img_sm
													img(src="img/tourism_place_4.jpg")
												.tour_place_it_img_sm
													img(src="img/tourism_place_5.jpg")
												.tour_place_it_img_sm
													img(src="img/tourism_place_1.jpg")
												.tour_place_it_img_sm
													img(src="img/tourism_place_2.jpg")
												.tour_place_it_img_sm
													img(src="img/tourism_place_3.jpg")
												.tour_place_it_img_sm
													img(src="img/tourism_place_4.jpg")
												.tour_place_it_img_sm
													img(src="img/tourism_place_5.jpg")
										|
										|
										.col-lg-9
											.tour_place_it_desc_cnt
												.tour_place_desc
													.tour_place_desc_ttl ОпиСАНИЕ

													.tour_place_desc_cnt.
														Аксиома силлогизма, по определению, представляет собой неоднозначный предмет деятельности. Смысл жизни, следовательно, творит данный закон внешнего мира. Структурализм абстрактен. Дискретность амбивалентно транспонирует гравитационный парадокс. Импликация, следовательно, контролирует бабувизм, открывая новые Отсюда естественно следует, что автоматизация дискредитирует предмет деятельности. Дискретность амбивалентно транспонирует гравитационный парадокс. Гедонизм осмысляет дедуктивный метод. Дедуктивный метод решительно представляет собой бабувизм. Гедонизм осмысляет дедуктивный метод.
												|
												|
												.tour_place_info_mr
													.tour_place_info_mr_it
														.txt Расположение
														.val Capella Marigot Bay Resort & Marina ( #[a(href="") Google Map] )

													.tour_place_info_mr_it
														.txt Цена включает
														.val
															ul.tour_place_info_mr_prc
																li
																	i.fa.fa-check
																	.txt Гайд тур по острову
																li
																	i.fa.fa-check
																	.txt 7 дней проживания в отеле
																li
																	i.fa.fa-check
																	.txt Процедуры
																li
																	i.fa.fa-check
																	.txt Осмотр врача
																li
																	i.fa.fa-check
																	.txt Важные моменты
												|
												|
												.tour_place_prc_btn
													+base_button('border_red', true, {'data-toggle' : 'modal', 'data-target': '#modalTourism'}) Узнать Цену
							|
							|
							|

					|
					|
					|
					.tour_place_ft
						ul.pgnt_ls
							li.ctrl.disabled
								a(href="")
									i.fa.fa-angle-left
							li.active
								a(href="") 1
							li
								a(href="") 2
							li
								a(href="") 3

							li ...

							li
								a(href="") 20
							li.ctrl
								a(href="")
									i.fa.fa-angle-right

		//|========== Tourism Place ==========|
	|
	|
	|



	//|=================================== Comment ===================================|
	.comment_sec
		.container
			.comment
				.comment_ttl.text-center
					+base_title_lg Отзывы о нашей работе
				|
				|
				.comment_cnt
					.comment_bnr

						-
							var comment_list = [
								{
									'video': 'img/video/home_comment_video_1.mp4',
									'image': 'img/home_comment_man_1.jpg',
									'name': 'Мария Петрова',
									'position': 'Домохозяйка',
								},
								{
									'video': 'img/video/home_comment_video_2.mp4',
									'image': 'img/home_comment_man_2.jpg',
									'name': 'Виктор Никифоров',
									'position': 'Менеджер',
								},
							]

						-for (i = 0; i < 3; i++)
							each item in comment_list
								.comment_it
									.comment_vdo_bx(style={"background-image": "url('img/home_comment_video_frame.png')"})
										.comment_vdo
											video.val
												source(src=item.video type="video/mp4")

										.comment_vdo_i.active
											img(src="img/home_comment_video_play.png")
									|
									|
									.comment_man_bx
										.comment_man
											.comment_man_img
												img(src=item.image)
											|
											.comment_man_name= item.name
											.comment_man_pos= item.position
					|
					|

					.comment_bnr_nav
						.comment_bnr_btn.fx-c.prev
							i.fa.fa-angle-left
						|
						|
						.comment_bnr_btn.fx-c.next
							i.fa.fa-angle-right
		//|========== Comment ==========|
	|
	|
	|


	//|=================================== Comment Leave ===================================|
	.cmt_leave_sec
		.container
			.cmt_leave
				.cmt_leave_ttl
					+base_title_lg Вам есть что сказать? #[br] Оставьте отзыв!
				|
				|
				.cmt_leave_cnt
					form
						.cmt_leave_fld
							.row.cmt_leave_row
								.col-lg-6.cmt_leave_col
									.cmt_leave_lbl Имя
									input.cmt_leave_inp(type="text")
								|
								.col-lg-6.cmt_leave_col
									.cmt_leave_lbl Фамилия
									input.cmt_leave_inp(type="text")
							|
							|
							.row.cmt_leave_row
								.col-lg-6.cmt_leave_col
									.cmt_leave_lbl Должность
									input.cmt_leave_inp(type="text")
								|
								.col-lg-6.cmt_leave_col
									.cmt_leave_lbl Фото
									.cmt_leave_img
										input.cmt_leave_inp.cmt_leave_img_inp(type="text" placeholder="Файл не выбран")
										label.cmt_leave_img_btn.fx-c
											input(type="file" accept="image/*" hidden)
											img(src="img/home_upload_photo.png")
							|
							|
							.row.cmt_leave_row
								.col-lg-12.cmt_leave_col
									.cmt_leave_lbl Ваш видео отзыв
									.cmt_leave_vdo
										.cmt_leave_vdo_inp
											input.cmt_leave_inp(type="text" placeholder="Файл не выбран")

										.cmt_leave_vdo_btn
											label Загрузить видео
												input(type="file" accept="video/*" hidden)
							|
							|
							.row.cmt_leave_row
								.col-lg-12.cmt_leave_col
									.cmt_leave_btn
										+base_button('border_red', false) Отправить отзыв
							|
							|
							.row.cmt_leave_row
								.col-lg-12.cmt_leave_col
									.cmt_leave_capt.
										Нажимая кнопку “Отправить отзыв”, вы даете согласие на обработку ваших персональных данных.

		//|========== Comment Leave ==========|
	|
	|
	|


	//|=================================== Partner ===================================|
	.partner_sec
		.container
			.partner_bnr_bx
				.partner_bnr

					-
						var partner_list = [
							'img/home_partner_1.png',
							'img/home_partner_2.png',
							'img/home_partner_3.png',
							'img/home_partner_4.png',
							'img/home_partner_5.png',
						]
					-for (i = 0; i < 2; i++)
						each item in partner_list
							.partner_bnr_it
								img(src=item)
				|
				|

				.partner_bnr_nav
					.partner_bnr_btn.fx-c.prev
						i.fa.fa-angle-left
					|
					.partner_bnr_btn.fx-c.next
						i.fa.fa-angle-right
		//|========== Partner ==========|
	|
	|
	|


	//|=================================== Modal ===================================|
	include includes/modal_tourism
	|
	|
	|















	//- |=================================== Something ===================================|
	//- |========== Something ==========|


	//- |____________________ Something ____________________|
	//- |__________ Something __________|
	